/* Accordions
---------------------------------------------------------------------*/
.faq-container {
  margin: 9rem 1rem;
  padding: 3.5rem 0.5rem 2rem 0.5rem; 
  background-color: $white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 70%;
    margin: 9rem auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    margin: 5rem auto;
    padding-top: 1rem;
    width: 85%;
    overflow: hidden;
  }
}

#accordion-container {
  min-height: 400px;
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 80%;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin: 7rem 0;
    margin-left: 550px;
    max-width: 50%;
    padding-right: 0;
    padding-left: 3rem;
    z-index: 200;
  }    
}

.accordion__title {
  padding-top: 4rem;
  padding-bottom: 0.7rem;
  font-weight: 700;
  text-align: center;
  color: $verydark_desaturated_blue;

  @media screen and (min-width: 1200px) {
      padding-top: 0.5rem;
      padding-right: 2rem;
      font-size: 30px;
      font-weight: bolder;
  }
}

.accordion__question {
  padding: 1rem 0.5rem;
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $light_grayish_blue;
  width: 100%;
  
  &:focus {
    outline: none;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    width: 470px;
    font-size: 20px;

    &:hover {
      color: $softred;
      cursor: pointer;
    }
  }
}

.accordion__question::after {
  content: url('/images/icon-arrow-down.svg');
  float: right;
  transform: rotate(0);
  transition: 0.3s;
}

.accordion__question--active::after {
  float: right;
  transform: rotate(180deg);
} 

.accordion__question--active {
  padding-left: 0.5rem;
  padding-top: 1rem;
  font-weight: bold;
  color: $verydark_desaturated_blue;
  border: none;
  
  @media screen and (min-width: 1200px) {
    padding-top: 0;
  }
}

.accordion__answer {
  display: none;
  padding-right: 2rem;
  margin-top: 0;
  font-weight: normal;
  color: $dark_grayish_blue;
  transform: max-height 0.3s;
  line-height: 1.5;
  border-bottom: 1px solid $light_grayish_blue;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: 0.5rem 2rem;
  }

  @media screen and (min-width: 1200px) {
    font-size: 15px;
  }
}

.accordion__answer--active {
  display: block;
  max-height: 300px;
  overflow: auto;
  padding-top: 0;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $light_grayish_blue;
  width: 100%;

  @media screen and (min-width: 1200px) {
    padding-top: 1rem;
    margin-bottom: 0;
    font-size: 18px;
    width: 470px;
  }
}