.img-container {
    border: 2px solid red;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-size: cover;
    background-position: top right;
    transform: scale(2);
    width: 30%;
    min-height: 500px;

    @media screen and (max-width: 768px) {
        background-image: url(../images/bg-pattern-mobile.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        min-height: 100px;
        width: 40%;
        
   //     margin: 0 auto;
     //   margin-top: -10rem;
        //transform: scale(1.5);
    }
}

.img__woman--mobile {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
    }
}

.img__woman--desktop {
    position: absolute;
    top: 300px;
    left: -30px;
  //transform: scale(1.5);
    //height: 260px;

   @media screen and (max-width: 768px) {
        display: none;
    }
}

.img__box--desktop {
    position: absolute;
    top: 395px;
    left: 50px;
    height: 240px;
    transition: transform 200ms ease-in-out;
    display: none;

    &--active {
        transform: translateX(-37px);
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}