/* Images
---------------------------------------------------------------------------- */
.img-container {
    background-image: url(../images/bg-pattern-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: 70%;  
    position: absolute;
    top: 4rem;
    margin: 0 auto;
    z-index: 30;
    
    @media screen and (min-width: 1200px) {
        background-image: url(../images/bg-pattern-desktop.svg);
        background-size: cover;
        background-position: 100% 0%;
        transform: scale(2);
        width: 50%;
        left: -5rem;
        top: -63px;
        min-height: 650px;
    }
}

.img-container__woman--mobile {
    position: relative;
    top: -25px;
    left: -15px;
    transform: scale(1.1, 1.1);

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.img-container__woman--desktop {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
        position: absolute;
        margin-top: 230px;
        transform: translateX(70%);
        height: 280px;
        z-index: 40;
    }
}

// Animación, mover la caja hacia la izquierda cada vez que el mouse pasa sobre el accordion
.img__desktop-box {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
        position: absolute; 
        top: 370px;
        left: 30px;
        height: 250px;
        z-index: 120;
        transition: transform 200ms ease-in-out;
    }
}

.img__desktop-box--active {
    transform: translateX(-37px);
}