/* General
-----------------------------------------------------------------------------*/
html {
    min-height: 100%;
}

.faq-container {
    display: flex;
    justify-content: center;
}

/* 
-----------------------------------------------------------------------------*/
body {
    font-family: $kumbh_sans, sans-serif;
    font-size: 12px;
    min-height: 100vh;
    @include gradient(to bottom right, $colors_gradient);
}


footer {
    margin: 1rem auto;

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: plum;
}

.attribution a {
    color: hsl(228, 86%, 66%); 
}