// Colors
$verydark_desaturated_blue: hsl(238, 29%, 16%);
$softred: hsl(14, 88%, 65%);

// Background gradient
$soft_violet: hsl(273, 75%, 66%);
$soft_blue: hsl(240, 73%, 65%);

// Text
$verydark_grayish_blue: hsl(237, 12%, 33%);
$dark_grayish_blue: hsl(240, 6%, 50%);

// Dividers
$light_grayish_blue: hsl(240, 5%, 91%);

// Typography 
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$kumbh_sans: 'Kumbh Sans', sans-serif;

// Gradient
$list: $soft_violet,
$soft_blue;

@mixin gradient($direction, $list) {
    background: linear-gradient($direction, $list);
}

// Transform
@mixin transform($property) {
    transform: $property;
}


/* General
-----------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
-----------------------------------------------------------------------------*/
body {
    font-family: $kumbh_sans, sans-serif;
    font-size: 12px;
    height: 100vh;
    @include gradient(top, $list);
}

/* Containers
-----------------------------------------------------------------------------*/
.container-accordion {
    border-radius: 20px;
    background-color: #ffffff;
    padding: 140px 15px 25px 15px;
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 450px;

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        padding-left: 300px;
        padding-right: 50px;
        padding-top: 90px;
        height: 400px;
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        width: 70%;
        padding-top: 80px;
        margin-top: 110px;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        width: 55%;
        padding-left: 390px;
        padding-right: 70px;
        padding-top: 70px;
    } 
}

h1 {
    font-weight: 700;
    color: $verydark_desaturated_blue;
    margin-bottom: 0.7em;
    text-align: center;

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        text-align: left;
    }
}

/* Accordion
-----------------------------------------------------------------------------*/
.div-accordion {
    border-bottom: 1px solid $light_grayish_blue;
    width: 100%;
    margin: 0 auto;

}

.accordion {
    background-color: #ffffff;
    color: $verydark_grayish_blue;
    cursor: pointer;
    padding: 10px;
    padding-top: 10px;
    padding-left: 0;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
}


.active {
    color: $verydark_desaturated_blue;
    font-weight: bolder;
}

.active .img-icon {
    @include transform(rotate(180deg));
}

.accordion:hover {
    color: $softred;
}

.panel {
    padding: 0 10px 15px 0;
    background-color: white;
    display: none;
    overflow: hidden;
    color: $dark_grayish_blue;
}

.panel p {
    line-height: 1.5;
    margin-right: 10px;
}

/* Images
-------------------------------------------------------------------------------*/
.img-icon {
    height: 8px;
    margin-top: 4px;
}

.imgs_gral {
    position: absolute;
    max-width: 100%;
}

.img_bg {
    @extend .imgs_gral;
    top: 5px;
    left: 43px;
    clip-path: inset(50% 0 0 0);

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        top: 230px;
        left: 30px;
        clip-path: inset(50% 0 0 0);
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        height: 300px;
        top: 150px;
        left: 70px;
        clip-path: inset(0 0 0 25%);
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        height: 700px;
        top: -90px;
        left: -85px;
        clip-path: inset(28% 0 0 54%);
    } 
}

.img_woman {
    @extend .imgs_gral;
    top: 30px;
    left: 50px;

    @media only screen and (min-width: 600px) {
        top: 260px;
        left: 35px;
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        height: 220px;
        top: 190px;
        left: 83px;
        clip-path: inset(0 0 0 22%);
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        height: 300px;
        top: 150px;
        left: 230px;
        clip-path: inset(0 0 0 18%);
    } 
}

.img_box {
    @extend .imgs_gral;
    top: 100px;
    left: 40px;

    @media only screen and (min-width: 600px) {
        top: 330px;
        left: 20px;
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        height: 120px;
        top: 280px;
        left: 80px;
        clip-path: inset(0 0 0 22%);
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        height: 150px;
        top: 260px;
        left: 220px;
        clip-path: inset(0 0 0 22%);
    } 
}

/*
-------------------------------------------------------------------------------*/
.attribution {
    text-align: center;
    color: #4a4e69;
    margin-top: 25px;
    display: block;
    justify-content: center;
}

a {
    color: #a0c4ff;
}

.attribution p {
    margin: 10px;
}