@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* next media queries
$small: 375px;
$large: 1440px;

.smth {
  @media screen and (max-width: $small) {
    
  }
  @media screen and (min-width: $large) {
    
  }
} */
/* General
-----------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 
-----------------------------------------------------------------------------*/
body {
  font-family: "Kumbh Sans", sans-serif, sans-serif;
  font-size: 12px;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(top, #af67e9, #6565e7);
}

/* Containers
-----------------------------------------------------------------------------*/
.container-accordion {
  border-radius: 20px;
  background-color: #ffffff;
  padding: 140px 15px 25px 15px;
  width: 90%;
  margin: 0 auto;
  margin-top: 150px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 450px;
}

h1 {
  font-weight: 700;
  color: #1d1e35;
  margin-bottom: 0.7em;
  text-align: center;
}

/* Accordion
-----------------------------------------------------------------------------*/
.div-accordion {
  border-bottom: 1px solid #e7e7e9;
  width: 100%;
  margin: 0 auto;
}

.accordion {
  background-color: #ffffff;
  color: #4a4b5e;
  cursor: url("hand-cursor.png"), pointer;
  padding: 10px;
  padding-top: 10px;
  padding-left: 0;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.5;
}

.active {
  color: #1d1e35;
  font-weight: bolder;
}

.active .img-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion:hover {
  color: #f47c57;
}

.panel {
  padding: 0 10px 15px 0;
  background-color: white;
  display: none;
  overflow: hidden;
  color: #787887;
}

.panel p {
  line-height: 1.5;
  margin-right: 10px;
}

/* Images
-------------------------------------------------------------------------------*/
.img-icon {
  height: 8px;
  margin-top: 4px;
}

.imgs_gral, .img_bg, .img_woman, .img_box {
  position: absolute;
  max-width: 100%;
}

.img_bg {
  top: 5px;
  left: 48px;
}

.img_woman {
  top: 30px;
  left: 55px;
}

.img_box {
  top: 90px;
  left: 45px;
}

/*
-------------------------------------------------------------------------------*/
.attribution {
  text-align: center;
  color: #4a4e69;
  margin-top: 25px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  color: #a0c4ff;
}

.attribution p {
  margin: 5px;
}
/*# sourceMappingURL=style.css.map */