@import 'normalize.scss';

// Body background gradient
$soft_violet: hsl(273, 75%, 66%);
$soft_blue: hsl(240, 73%, 65%);

// Color card
$white: #fff;

// Color accordion_container_title
$verydark_desaturated_blue: hsl(238, 29%, 16%);

// Color accordion_title hover
$softred: hsl(14, 88%, 65%);

// Text
$verydark_grayish_blue: hsl(237, 12%, 33%);
$dark_grayish_blue: hsl(240, 6%, 50%);

// Dividers
$light_grayish_blue: hsl(240, 5%, 91%);

// Typography 
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$kumbh_sans: 'Kumbh Sans', sans-serif;

// Gradient body background
$colors_body: $soft_violet, $soft_blue;

@mixin gradient($direction, $colors_body) {
    background: linear-gradient($direction, $colors_body);
}

// Transform accordion_icon
@mixin transform($property) {
    transform: $property;
}

/* General
-----------------------------------------------------------------------------*/
html {
    min-height: 100%;
}

/* 
-----------------------------------------------------------------------------*/
body {
    font-family: $kumbh_sans, sans-serif;
    font-size: 12px;
    min-height: 100%;
    @include gradient(to bottom right, $colors_body);
}

main {
    display: flex;
    justify-content: center;
}

/* Images
---------------------------------------------------------------------------- */
.img-container {
    background-image: url(../images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    padding-top: 2rem;

    @media screen and (min-width: 1200px) {
        background-image: url(../images/bg-pattern-desktop.svg);
        background-size: cover;
        background-position: 40% 60%;
        height: 500px;
        width: 70%;
        top: 140px;
        left: -380px;
    }
}

.img-container__woman--mobile {
    padding-right: 2rem;
    padding-bottom: 1rem;

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.img-container__woman--desktop {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
        position: absolute;
        left: 470px;
        top: 80px;
    }
}

.img-container__box--desktop {
    display: none;
    @media screen and (min-width: 1200px) {
        display: block;
        position: absolute;
        left: 450px;
        top: 200px;
    }
}

/* Accordions
---------------------------------------------------------------------*/
.faq-container {
    margin: 9rem auto 2rem auto;
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: $white; 
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90%;

    @media screen and (min-width: 1200px) {
        width: 75%;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 7em;
    }
}

.faq-container__title {
    padding-top: 4rem;
    font-weight: 700;
    text-align: center;
    color: $verydark_desaturated_blue;

    @media screen and (min-width: 1200px) {
        padding-top: 0;
        padding-right: 22rem;
    }
}

#accordion {
    padding: 1rem 1.5rem;

    @media screen and (min-width: 1200px) {
        width: 45%;
    }    
}

.accordion__title {
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $light_grayish_blue;
}

@media screen and (min-width: 1200px) {
    .accordion__title:hover {
        color: $softred;
        cursor: pointer;
    }
}

.accordion__title::after {
    content: url('/images/icon-arrow-down.svg');
    transform: rotate(0);
    transition: 0.3s;
}

.accordion__title--active::after {
    transform: rotate(180deg);
}

.accordion__title--active {
    color: $verydark_desaturated_blue;
    font-weight: 700;
    border-bottom: none;
    padding-bottom: 0;
}

.accordion__text {
    margin: 0;
    max-height: 0;   
    overflow: hidden;
    transform: max-height 0.3s;

    padding-right: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.accordion__text--active {
    max-height: 300px;
    overflow: auto;
    border-bottom: 1px solid $light_grayish_blue;
}